- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

- pointers = synset.pointers
- synset.senses.each do |sense|
  - pointers = pointers.merge(sense.pointers)

- unless synset.samples.empty?
  %h4 sample sentences
  - synset.samples.each do |sample|
    =h sample
    %br/
- synset.senses.each do |sense|
  - unless sense.verb_frames.empty?
    %div{:class => "lexical #{sense.word.unique_name}"}
      %h4 verb frames
      - sense.verb_frames.each do |frame|
        =h frame.frame
        %br/
- unless pointers.blank?
  %strong{:title => 'links to related words of different types'}
    pointers
  %table
    %tbody
      - pointers.group_by(&:ptype).each do |ptype, ptrs|
        %tr
          %td.pointer-type{:title => Pointer.help_text(ptype)}
            %em
              &= ptype
          %td
            - ptrs.each do |ptr|
              = target_link ptr.target, ptr.source_type == "Sense" ? ptr.source.word.unique_name : nil
