* {
  font-family: Monaco, Menlo, Monospace;
  font-size: 12pt;
}

a.undecorated {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
}

dl,table {
  background-color: #fc9;
}

dd,dt,tr {
  padding: 2px;
}

.word-lookup {
  font-family: Geneva, Helvetica, Arial, sans-serif;
  background-color: #fc9;
  padding: 2px;
}
