* {
  font-family: Monaco, Menlo, Monospace;
  font-size: 12pt;
  color: #1c94c4;
}

a:link {
  color: #1c94c4;
}

a:visited {
  /* color: #0e4a62; */
  color: #333333;
}

a.undecorated {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
}

dl {
  background-color: #fc9;
}

dd,dt {
  padding: 2px;
}

#header-bar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 6.5ex;
  background-color: #fc9;
}

#header-bar > table {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.word-lookup {
  position: absolute;
  display: block;
  bottom: 2px;
  right: 0px;
  padding: 2px;
}

.ui-menu {
  max-height: 40%;
  overflow: auto;
}
