body {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 10pt;
}

/* make OmniWeb draw a border around linked images */
a[href] > img {
  border-style: solid;
  border-width: 0.2em;
}

a.undecorated, a:hover,active {
  text-decoration: none;
}

label {
  position: absolute;
  text-align: right;
  white-space: nowrap;
}

.small-buttonset .ui-button-text {
  font-size: x-small!important;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 17.8ex;
  margin: 0.5ex;
}

#error {
  position: fixed;
  margin: 0.5ex;
  height: 3ex;
  top: 18.8ex;
  left: 0;
  right: 0;
}

#error > span.ui-icon {
  float: left;
  margin-right: 0.3em;
}

#main {
  position: absolute;
  overflow: auto;
  top: 22.8ex;
  bottom: 9.6ex;
  left: 0;
  right: 0;
  margin: 1.9ex 0.5ex;
}

.pagination {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 6.2ex;
  height: 3ex;
  margin: 0.2ex;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6ex;
  margin: 0.2ex;
  font-size: 0.9em;
  text-align: center;
}

#dubsar-image {
  border-style: none;
  vertical-align: bottom;
  padding: 0.2ex;
  height: 2ex;
}

#theme-picker {
  position: absolute;
  top: 0ex;
  right: 0ex;
}

#header-bar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 8.5ex;
}

#header-bar > table {
  position: absolute;
  bottom: 0px;
  left: 0px;
  table-layout: fixed;
  width: 55ex;
  text-align: center;
  font-size: 120%;
}

#header-bar > table a:link, #header-bar > table a:visited, #header-bar > table a:hover, #header-bar > table a:active {
  text-decoration: none;
}

#header-bar > table a:hover, #header-bar > table a:active {
  font-weight: bolder;
}

/* autocompleter menu styling */
.ui-menu {
  max-height: 40%;
  overflow: auto;
}

table#word-search-term {
  position: absolute;
  bottom: 0ex;
  right: 0ex;
  width: auto;
  table-layout: fixed;
}

col#c1, col#c3 {
  width: 12ex;
}

input#word-input {
  font-size: small;
}

#cuneiform-signs {
  height: 2.5ex;
  padding: 0.3ex;
  vertical-align: bottom;
  border-style: solid;
}

#about {
  margin: 1em 6em;
  font-size: large;
  text-align: justify;
}
