body {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 10pt;
}

a[href] > img {
  border-style: solid;
  border-width: 0.2em;
}

a.undecorated {
  text-decoration: none;
}

label {
  position: absolute;
  text-align: right;
  white-space: nowrap;
}

.small-buttonset span.ui-button-text {
  font-size: x-small;
}

#theme-picker {
  position: absolute;
  top: 0.7ex;
  right: 0.7ex;
}

#header-bar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 7.2ex;
}

#header-bar > table {
  position: absolute;
  bottom: 0px;
  left: 0px;
  table-layout: fixed;
  width: 55ex;
  text-align: center;
  font-size: 120%;
}

#header-bar > table a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

#header-bar > table a:hover, a:active {
  font-weight: bolder;
}

#header-bar table * {
  font-size: inherit;
}

.word-lookup {
  position: absolute;
  display: block;
  bottom: 0.25ex;
  right: 0px;
  padding: 0.25ex;
}

.ui-menu {
  max-height: 40%;
  overflow: auto;
}

#word-lookup-buttonset {
  position: absolute;
  bottom: 0.55ex;
  right: 36ex;
}

#word-input {
  position: absolute;
  width: 20ex;
  bottom: 0.55ex;
  right: 14.5ex;
  font-size: small;
}

#word-input-label {
  bottom: 4ex;
  right: 14.5ex;
}

#word-submit {
  width: 11ex;
}

.pagination {
  position: relative;
  top: 1.5em;
}

#cuneiform-signs {
  height: 2.5ex;
  padding: 0.3ex;
  vertical-align: bottom;
}
