* {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 12pt;
}

a.undecorated {
  text-decoration: none;
}

#header-bar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 7.2ex;
}

#header-bar > table {
  position: absolute;
  bottom: 0px;
  left: 0px;
  table-layout: fixed;
  width: 55ex;
  text-align: center;
}

#header-bar > table a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

#header-bar > table a:hover, a:active {
  font-weight: bolder;
}

.word-lookup {
  position: absolute;
  display: block;
  bottom: 0.25ex;
  right: 0px;
  padding: 0.25ex;
}

.ui-menu {
  max-height: 40%;
  overflow: auto;
}

label {
  position: absolute;
  text-align: right;
  white-space: nowrap;
}

.small-buttonset span.ui-button-text {
  font-size: 0.6em;
}

#word-lookup-buttonset {
  position: absolute;
  bottom: 0.55ex;
  right: 35.5ex;
}

#word-input {
  position: absolute;
  width: 20ex;
  bottom: 0.55ex;
  right: 14ex;
}

#word-input-label {
  bottom: 4ex;
  right: 14ex;
}

#word-submit {
  width: 10.5ex;
}

#theme-picker {
  position: absolute;
  top: 0.7ex;
  right: 0.7ex;
}

.pagination {
  position: relative;
  top: 1.5em;
}

#cuneiform-signs {
  position: relative;
  left: 0.3em;
}
