- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

&copy; 2013 Jimmy Dee &middot;
=link_to 'Contact', 'mailto:dubsar@dubsar-dictionary.com', :title => 'Contact', :class => 'undecorated'
&middot;
=link_to 'About Dubsar', about_path, :title => 'About Dubsar', :class => 'undecorated'
&middot;
=link_to 'FAQ', faq_path, :title => 'Frequently Asked Questions', :class => 'undecorated'
&middot;
=link_to 'License', license_path, :title => 'License', :class => 'undecorated'
&middot;
%a.undecorated{:href => qunit_path, :title => 'QUnit'}
  %span#qunit-link.line.ui-state-default.ui-corner-all
    %span#wrench-icon.ui-icon.ui-icon-wrench
    %strong QUnit Test Suite
%br/
%a{:href => 'http://wordnet.princeton.edu', :class => 'undecorated'}
  WordNet&reg;
&copy; 2013 The Trustees of Princeton University
&middot;
%a{:href => 'http://wordnet.princeton.edu', :class => 'undecorated'} WordNet&reg;
is available under the
=link_to 'WordNet 3.0 License', 'http://wordnet.princeton.edu/wordnet/license', :title => 'WordNet 3.0 License', :class => 'undecorated'
