&copy; 2010 Jimmy Dee&middot;
=link_to 'Contact', 'mailto:dubsar@dubsar-dictionary.com', :title => 'Contact', :class => 'undecorated'
&middot;
=link_to 'About Dubsar', url_for(:action => 'about'), :title => 'About Dubsar', :class => 'undecorated'
%br/
%a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'}
  WordNet&reg;
&copy; 2010 The Trustees of Princeton University
&middot;
%a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
is available under the
=link_to 'WordNet 3.0 License', 'http://wordnet.princeton.edu/wordnet/license/', :title => 'WordNet 3.0 License', :class => 'undecorated'
