- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#sql-help-dialog-template.template
  The Structured Query Language used by Dubsar&apos;s
  PostgreSQL database accepts the following wildcards in
  searches:
  %ul
    %li % matches anything, including nothing at all
    %li _ matches any single character
  For example:
  %ul
    %li
      ="%count% matches all words containing"
      %em count
    %li
      c_t matches
      %em cat, cot
      and
      %em cut
