- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

%p
  %strong
    Welcome to Dubsar, a dictionary application using content from the
    Princeton University
    %a.undecorated{:href => 'http://wordnet.princeton.edu', :style => 'color: #888;'} WordNet&reg;
    project.
%table
  %tbody
    %tr
      %td
        %strong
          /Dubsar for iPhone, iPod Touch and iPad:
          Dubsar for iOS:
      %td
        %strong
          Dubsar for Android:
    %tr
      %td{valign: 'top'}
        %p
          =link_to 'App Store', 'http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=453868483&mt=8'
      %td{valign: 'top'}
        %p
          =link_to 'Google Play', 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar'
        %p
          =link_to 'Amazon App Store', 'http://www.amazon.com/Jimmy-Dee-Dubsar/dp/B006QCL4PG'
        %p
          =link_to 'Direct download (APK: 119 kB)', "#{asset_host}/Dubsar-1.0.2.1.apk"

%br/
%p
  Use this form to search the dictionary for words.
