- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    .dubsar-star-icon-div
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em
        ="(last updated 27-Oct-2010)"
#pane_1
  %ol
    %li
      Dubsar is nearing launch.  Once the full
      %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'}
        WordNet&reg;
      content is available in the application, it will be ready.
    %li
      Dubsar is now tracking the hit count of each word in its
      database.  Results in the autocompleter are ordered by
      popularity.  Later, the autocompleter will only return top
      matches as you type, for efficiency, rather than potentially
      thousands of words at a time.  Don't be alarmed if the words in
      the autocompleter are not always ordered alphabetically.  It just
      means the most popular ones are rising to the top.
    %li
      Dubsar now shows you its current top ten words by hit count here
      on the index page.  The list is live and updates in real time.
    %li
      Watch this space for information about changes to the site.
