- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 12-Dec-2010)
#pane_1
  %ol
    %li
      Dubsar was officially launched November 14, 2010.
    %li
      The entire content of
      %a{:href => 'http://wordnet.princeton.edu', :title => 'WordNet®'}
        WordNet&reg;
      is now available in the application.
    %li
      The Facebook &quot;Like&quot; button and box left behind a
      tracking cookie, allowing Facebook to know any time you visited
      Dubsar. They have been removed. Please visit
      =link_to 'Dubsar on Facebook,', 'http://www.facebook.com/pages/Dubsar/155561501154946', :title => 'Dubsar on Facebook'
      but Dubsar will not use Facebook&apos;s widgets again until they
      are free of tracking cookies.
    %li
      Dubsar now supports the OpenSearch protocol and can be added to
      your browser&apos;s list of search engines.
    %li
      Look for a mobile edition of Dubsar in 2011. In preparation for
      the project, the Dubsar team has to procure a better mobile
      device, but he&apos;s not allowed to buy himself anything till
      after Christmas.  Happy Holidays!
    %li
      Watch this space for information about continued changes to the
      site.
