- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 28-Jul-2014)
#pane_1
  %ol
    %li
      The server has been updated to WordNet&reg; 3.1. Version 1.3.1 of the iOS app
      still has 3.0. Version 1.3.2 will be released soon with 3.1.
    %li
      =link_to 'Dubsar', 'http://www.amazon.com/gp/mas/dl/android?p=com.dubsar_dictionary.Dubsar&ref=mas_pm_app_name'
      has been approved for distribution to the Amazon Fire phone.
    %li
      Version 1.1.2 of Dubsar for Android is now available with support for Kit Kat.
    %li
      Dubsar for iOS (1.3.1):
      %p
        =link_to 'App Store', 'https://itunes.apple.com/us/app/dubsar/id453868483?mt=8'
    %li
      Dubsar for Android (1.1.2):
      %p
        =link_to 'Google Play', 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar'
      %p
        =link_to 'Amazon App Store', 'http://www.amazon.com/gp/mas/dl/android?p=com.dubsar_dictionary.Dubsar&ref=mas_pm_app_name'
      %p
        =link_to 'Direct Download (APK: 591 kB)', apk_link
    %li
      Watch this space for information about continued changes to the application suite.
