- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 08-Aug-2013)
#pane_1
  %ol
    %li
      The server will be unavailable for a few hours between 00:00 UTC Saturday,
      August 10 and Sunday, August 11, 2013. (On the west coast of the U.S., for example,
      that&apos;s 5:00 p.m. Friday and 5:00 p.m. Saturday.) The server is undergoing some
      important upgrades and has to be taken down for a while. This will result in an
      outage for Android clients and iOS clients before 1.1.0, if any is still installed.
      Any iOS app of version 1.1.0 or later (1.1.0 was released in 2011; tap the About button
      on the Home view to see which version you have) will function
      normally, since the app has a local database, but the word of the day may be affected.
      Users of version 1.2.0 or higher of Dubsar for iOS should see no effect at all.
      The server will be back up well before 00:00 UTC Sunday, August 11, 2013.
    %li
      Dubsar for iOS (1.2.1):
      %p
        =link_to 'App Store', 'http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=453868483&mt=8'
    %li
      Dubsar for Android (1.0.2):
      %p
        =link_to 'Google Play', 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar'
      %p
        =link_to 'Amazon App Store', 'http://www.amazon.com/Jimmy-Dee-Dubsar/dp/B006QCL4PG'
      %p
        =link_to 'Direct Download (APK: 119 kB)', "#{asset_host}/Dubsar-1.0.2.1.apk"
    %li
      Watch this space for information about continued changes to the application suite.
