- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 21-Feb-2013)
#pane_1
  %ol
    %li
      The word of the day has been fixed.
    %li
      =link_to 'Version 1.2.1', 'http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=453868483&mt=8'
      of Dubsar for iOS is now available in the App Store. This release
      fixes a crash on the iPad.
    %li
      Dubsar now uses HTTPS, the secure HTTP transport. This should not
      affect you at all. Any requests to the old URLS should simply
      redirect to the new ones.
    %li
      Version 1.0.2 of Dubsar for Android is now available
      for free in the
      =link_to 'Amazon App Store.', 'http://www.amazon.com/Jimmy-Dee-Dubsar/dp/B006QCL4PG'
    %li
      =link_to 'Version 1.0.2', 'https://market.android.com/details?id=com.dubsar_dictionary.Dubsar'
      of Dubsar for Android fixes a couple of bugs.
    %li
      Watch this space for information about continued changes to the application suite.
