- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%div#news-headline
  News
  %span.index-update
    %em (last updated 24-Jan-2015)
%div#news-content
  %p
    Dubsar now tweets the word of the day on Twitter each day, with an app card and
    a deep link that takes you directly to the word of the day in the mobile app on
    your iOS or Google Play device (Android 3.0 or later). Follow
    = link_to '@dubsar', 'https://twitter.com/dubsar'
    for udpates.
  %p
    Dubsar has moved to a new server and a new domain, dubsar.info.
    The old domain, dubsar-dictionary.com, will continue to function for a while,
    redirecting to the new domain. Eventually, dubsar-dictionary.com will be
    retired. Please update any bookmarks.
  %p
    The main Dubsar website has been rewritten to be more mobile friendly. The old
    Dubsar mobile website has been retired. And there was much rejoicing.
  %p
    The Dubsar website has a new feature that has been available in the iOS app since
    September: synset searching. You can now search for synsets whose glosses or
    sample sentences match your search text, rather than searching for matching words.
  %p
    Sense views have been replaced with contextual synset views. Now you can see lexical
    content within a synset view by tapping any of the synonyms in the synset view.
  %p
    Dubsar for iOS has a new sibling, an audio player app by the same author called
    cpyn, v. /spɪn/ past tense cpÿn /spʌn/. You can find
    =link_to 'version 1.2.1 of cpyn', 'https://itunes.apple.com/us/app/cpyn/id929721548?mt=8'
    on the iOS App Store. cpyn includes a three-dimensional turntable, reversible
    playback and record scratching, as well as an array of audio features from
    equalization to cross fading and autolevel.
  %p
    =link_to 'Dubsar 2.0.1 for iOS,', 'https://itunes.apple.com/us/app/dubsar/id453868483?mt=8'
    rewritten in Swift, has been released to the App Store. The new version is smaller with
    an offline option and features synset search, bookmarks, autocorrection, themes and
    support for Dynamic Type.
  %p
    Watch this space for information about continued changes to the application suite.
