- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 6-Nov-2010)
#pane_1
  %ol
    %li
      The bulk of the
      %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'}
        WordNet&reg;
      content is now available in the application.  There is still some
      missing content, notably adjective clusters; and known bugs,
      particularly those involving regular inflections of nouns and
      verbs.  But the site is not far from launch.
    %li
      Sample sentences have been moved to a new custom tooltip that
      shows further information about each word sense (frequency count,
      lexical file name, verb frames, pointers).
    %li
      Dubsar now includes lexical and semantic pointer information
      among word senses and synonym sets (e.g., antonyms and
      derivationally related forms).  These are shown at the bottom of
      the new custom tooltip.
    %li
      Watch this space for information about changes to the site.
