- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 1-Dec-2010)
#pane_1
  %ol
    %li
      Dubsar was officially launched November 14, 2010.
    %li
      The entire content of
      %a{:href => 'http://wordnet.princeton.edu', :title => 'WordNet®'}
        WordNet&reg;
      is now available in the application.
    %li
      Now it's easy to
      =link_to 'Link to Dubsar', link_path, :title => 'Link to Dubsar'
      from your website.
    %li
      Dubsar now sports links to some social networks near the top of
      the page, making it easy to share.  Dubsar has also taken up
      residence on Facebook.
      %p
        !=facebook_like_box
    %li
      Watch this space for information about continued changes to the
      site.
