- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 9-Dec-2010)
#pane_1
  %ol
    %li
      Dubsar was officially launched November 14, 2010.
    %li
      The entire content of
      %a{:href => 'http://wordnet.princeton.edu', :title => 'WordNet®'}
        WordNet&reg;
      is now available in the application.
    %li
      Dubsar now offers
      =link_to 'subscribed links', 'http://www.google.com/coop/trust/add?user=012127914215357268281&sig=__LsaFMfvM095yLOpMWfHSTKVhy7U=', :title => 'Dubsar subscribed links'
      on Google, so you can add selected Dubsar content to your web
      searches.
    %li
      Dubsar is trying out the
      =link_to 'Coral CDN.', 'http://www.coralcdn.org', :title => 'Coral CDN'
      Please use the
      =link_to 'Contact', 'mailto:dubsar@dubsar-dictionary.com', :title => 'Contact Dubsar'
      link to report any problems.
    %li
      Look for a mobile edition of Dubsar in 2011. In preparation for
      the project, the Dubsar team has to procure a better mobile
      device, but he&apos;s not allowed to buy himself anything till
      after Christmas.  Happy Holidays!
    %li
      Watch this space for information about continued changes to the
      site.
