%ol
  %li
    Dubsar is nearing launch.  Once the full 
    %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'}
      WordNet&reg;
    content is available in the application, it will be ready.
  %li
    Watch this space for information about changes to the site.
