- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-11 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2#cap-news_n
  %a{:href => '#cap-news_n'}
    News
    %em (n.)
    %span.star-icon-span
      %span.ui-icon.ui-icon-star
    %span.index-update
      %em (last updated 4-Oct-2011)
#pane_1
  %ol
    %li
      Dubsar has converted to full text searching, like most search engines. See the
      =link_to 'FAQ', "#{faq_path}#faq_22"
      for more information.
    %li
      =link_to 'Version 1.1.0', 'http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=453868483&mt=8'
      of Dubsar for iOS is available in the App Store, introducing a local SQLite
      database. The app now works nearly as well on an airplane as in an office.
      Only the Word of the Day and the FAQ are now taken from the server.
    %li
      =link_to 'Version 1.0.1', 'https://market.android.com/details?id=com.dubsar_dictionary.Dubsar'
      of Dubsar for Android fixes a 4G network bug.
    %li
      Watch this space for information about continued changes to the
      site.
