%li
  - synonyms = synset.words.find :all, conditions: [ 'name not ilike ?', word.name ]
  - synonyms.each do |w|
    =link_to w.name, url_for(action: :show, term: w.name), title: w.name
  - if synonyms.count > 0
    %br/
  =h synset.definition
