%h2
  %a{:href => '#'}
    &= word.name
    %em
      &= "(#{word.pos}.)"
%div{:id => "content_div_#{@count += 1}"}
  %ol
    - word.definitions.each do |definition|
      %li
        =render :partial => 'synspans', :object => definition.body
    - unless word.synonyms.blank?
      %li
        %strong synonyms:
        - word.synonyms.each do |synonym|
          =link_to synonym, url_for(:action => :show, :term => synonym), :title => synonym
