%dt
  =h word.name
  %em
    =h "(#{word.part_of_speech})"
%dd
  %ol
    - word.definitions.each do |definition|
      %li
        =h definition.body
    - unless word.synset.blank?
      %li
        %strong synonyms:
        =h word.synset.words.reject{ |w| w == word }.map{ |w| w.name}.join(',')
