%h2
  %a{:href => '#'}
    =h word.name
    %em
      =h "(#{word.part_of_speech})"
%div{:id => "content_div_#{@count += 1}"}
  %ol
    - word.definitions.each do |definition|
      %li
        // TODO: Handle words with multiple matches
        - definition.body.split(' ').each do |w|
          - words = Word.all :conditions => { :name => w }
          - _w = words.first if words and words.count == 1
          - if _w and _w.synonyms
            %span{:title=>"synonyms: #{_w.synonyms.join(',')}"}
              =h w
          - else
            =h w
    - unless word.synonyms.blank?
      %li
        %strong synonyms:
        - word.synonyms.each do |synonym|
          =link_to synonym, url_for(:action => :show, :name => synonym), :title => synonym
