%h2
  %a{:href => '#'}
    =h word.name
    %em
      =h "(#{word.pos}.)"
%div{:id => "content_div_#{@count += 1}"}
  %ol
    - word.definitions.each do |definition|
      %li
        - definition.body.split(' ').each do |w|
          =render :partial => 'synspan', :locals => { :w => w }
    - unless word.synonyms.blank?
      %li
        %strong synonyms:
        - word.synonyms.each do |synonym|
          =link_to synonym, url_for(:action => :show, :name => synonym), :title => synonym
