#about
  Dubsar was conceived as a simple web-based dictionary application
  using
  %ul
    %li
      %a{:href => 'http://rubyonrails.org', :title => 'Ruby on Rails(R)', :class => 'undecorated'}
        Ruby on Rails&reg;
      3.0,
    %li
      =link_to 'PostgreSQL', 'http://postgresql.org', :title => 'PostgreSQL', :class => 'undecorated'
      8.4,
    %li
      =link_to 'jQuery', 'http://jquery.com', :title => 'jQuery', :class => 'undecorated'
      1.4.3 and
    %li
      =link_to 'jQuery UI', 'http://jqueryui.com', :title => 'jQuery UI', :class => 'undecorated'
      1.8.5.
  The ready availability of the
  %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
  data set made it the perfect candidate for inclusion in Dubsar.
  Dubsar is a work in progress.  Over time, it will grow to include
  more content from
  %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
  and perhaps other sources.  Stay tuned.

  %p
  =link_to 'Dubsar on GitHub', 'http://github.com/jdee/dubsar', :title => 'Dubsar on GitHub', :class => 'undecorated'
