- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-15 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  About Dubsar

- content_for :description do
  %meta{:name => 'Description', :content => 'Read about the open-source Dubsar Dictionary Project.'}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, SQLite, QUnit, open-source, GPL, GitHub, English'}
  %link{:rel => 'canonical', :href => 'https://dubsar.info/about'}

#about
  = render partial: 'home_button'

  %h4 Dubsar

  %p
    The Dubsar Dictionary Project is a suite of English dictionary applications using
    WordNet&reg; 3.1.
    The website is built using
    %a{:href => 'http://rubyonrails.org', :title => 'Ruby on Rails®'}
      Ruby on Rails&reg;.
    The original website was launched as a personal project in late 2010. Since then,
    it sprouted a mobile website and native applications for Android and iOS.
    The current website is the sixth interface constructed as part of the Dubsar
    Dictionary Project. The new website is much more mobile friendly and supersedes
    the star-crossed m.dubsar-dictionary.com, RIP.

  %h4
    %a{:href => 'http://wordnet.princeton.edu', :class => 'undecorated'} WordNet&reg;
  %p
    The
    %a{:href => 'http://wordnet.princeton.edu', :class => 'undecorated'} WordNet&reg;
    3.1 data set includes only adjectives, adverbs, nouns and verbs.  It
    does not include conjunctions, interjections, prepositions or
    pronouns.  It includes many proper nouns and technical terms.

  %p
    The WordNet&reg; content governs the Dubsar feature set by limiting
    what can be shown.  A user might expect a dictionary to include
    etymology and pronunciation information, for example, maybe also
    illustrations for some entries.  And of course, she&apos;ll expect to
    find common auxiliary verbs like
    %em should
    and all parts of speech.

  %p
    By contrast, WordNet&reg; is aimed at automated text processing and
    identification of lexical and semantic textual information via
    salient terms (represented by the four major parts of speech
    WordNet&reg; comprises).  As a result, the content makes
    WordNet&reg; (and Dubsar) at times more closely resemble a
    thesaurus than a dictionary.

  %h4#inflections Inflections

  %p
    Dubsar provides one important class of information not present in
    WordNet&reg;. While WordNet&reg; does provide exceptional
    inflections for irregular words, it does not offer much help with
    regular inflections.

  %p
    The original inflections table in the Dubsar database was constructed using
    a lengthy, yet incomplete, set of regular expressions and exceptions. Noun plurals
    were originally constructed using the ActiveSupport::Inflector from Ruby on Rails&reg;.
    This resulted in plurals like
    %em blice
    for
    %em blouse.
    Many erroneous verb forms persisted for some time. A manual editorial process
    eventually weeded out persistent problems. There are certainly cases where a plural
    for, say, a pharmaceutical trade name, is dubious. But the current inflections table
    is free from egregious errors.
  %p
    Other than irregular inflections provided by WordNet&reg;, inflected forms are only
    listed for nouns and verbs, and only for those with no spaces, capitalization, numbers
    or punctuation. Inflected forms include any form of a word that would not usually be
    listed under its own head. For nouns, plurals are listed. For verbs, the third-person
    singular present form is listed as well as the present and past participles.

  %p
    The database currently contains
    =model_count 'inflection'
    inflection entries for
    =model_count 'word'
    words.  Note that each word, uninflected, is listed in the
    Inflections table.  For example, the verb
    %em be
    has eight inflected forms:

    %div am
    %div are
    %div be
    %div been
    %div being
    %div is
    %div was
    %div were
  %p
    When searching words, the inflections table is actually consulted instead of the words
    table. So you can match the verb
    %em be
    by searching for
    %em was,
    and if you search for
    %em thought,
    the first thing you&apos;ll see is the verb
    %em think.
