- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#about
  %h4 Dubsar
  Dubsar was conceived as a simple web-based dictionary application
  using
  %ul
    %li
      %a{:href => 'http://rubyonrails.org', :title => 'Ruby on Rails(R)', :class => 'undecorated'}
        Ruby on Rails&reg;
      3.0,
    %li
      =link_to 'PostgreSQL', 'http://postgresql.org', :title => 'PostgreSQL', :class => 'undecorated'
      8.4,
    %li
      =link_to 'jQuery', 'http://jquery.com', :title => 'jQuery', :class => 'undecorated'
      1.4.3 and
    %li
      =link_to 'jQuery UI', 'http://jqueryui.com', :title => 'jQuery UI', :class => 'undecorated'
      1.8.5.
  The ready availability of the
  %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
  data set made it the perfect candidate for inclusion in Dubsar.
  Dubsar is a work in progress.  Over time, it will grow to include
  more content from
  %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
  and perhaps other sources.  Stay tuned.

  %h4
    %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
  The
  %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)', :class => 'undecorated'} WordNet&reg;
  data set includes only adjectives, adverbs, nouns and verbs.  It does
  not include conjunctions, interjections, prepositions or pronouns.
  It includes many proper nouns and technical terms.

  %h4 Supported Browsers
  Dubsar works with all the following browsers (though you will notice
  small differences from one browser to the next):
  %ul
    %li Firefox 3 on all tested platforms (Ubuntu Linux, Mac OS X, Windows Vista)
    %li Google Chrome 6 on all platforms
    %li Safari 5 on OS X and Vista
    %li Camino 2 on OS X
    %li OmniWeb 5 on OS X
    %li Internet Explorer 8 on Vista
    %li Opera 10.63 on OS X and Vista
  Dubar does not work with:
  %ul
    %li Konqueror 4

  %h4 See also
  %ul
    %li
      =link_to 'Dubsar on GitHub', 'http://github.com/jdee/dubsar', :title => 'Dubsar on GitHub', :class => 'undecorated'
    %li
      =link_to 'Dubsar QUnit Test Suite', qunit_path, :title => 'QUnit', :class => 'undecorated'
