%table
  %tr
    %th name
    %th part of speech
    %th definition
  - @words.each do |word|
    %tr
      %td
        =h word.name
      %td
        =h word.part_of_speech
      %td
        =h word.definitions.map{ |d| d.body }.join('; ')

= will_paginate @words
