- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#accordion
  %h2#faq_1
    %a{:href => '#faq_1'}
      Q. Where does the database come from?
  #pane_1
    A. This is the
    %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'} WordNet&reg;
    3.0 data set from Princeton University,
    available for free under the
    %a{:href => 'http://wordnet.princeton.edu/wordnet/license/', :title => 'WordNet 3.0 License'}
      WordNet 3.0 License.
  %h2#faq_2
    %a{:href => '#faq_2'}
      Q. Which words are in the dictionary?
  #pane_2
    A. The
    %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'} WordNet&reg;
    data set is aimed at automated text processing and
    includes only the most numerous parts of speech: adjectives,
    adverbs, nouns and verbs.  It does not include conjunctions,
    interjections, prepositions or pronouns.  These words are far fewer
    in number and are less directly related to the meaning of any text.
    So you won't find
    %em from
    in Dubsar, but you will find
    %em
      %a{:href => url_for(:action => :show, :term => 'sedulous'), :title => 'sedulous'}
        sedulous.
  %h2#faq_3
    %a{:href => '#faq_3'}
      Q. Which browsers work well with Dubsar?
  #pane_3
    A. Thanks to jQuery, nearly any browser that supports JavaScript
    will display Dubsar well, particularly:
    %ul
      %li
        Firefox 3 on all tested platforms (Ubuntu Linux, Mac OS X,
        Windows Vista)
      %li Google Chrome 6 &amp; 7 on all platforms
      %li Safari 5 on OS X and Vista
      %li Camino 2 on OS X
      %li OmniWeb 5 on OS X
      %li Internet Explorer 8 on Vista

    Dubsar works in the following browsers, but with significant styling
    glitches.
    %ul
      %li Opera 10 on all platforms
      %li Konqueror 4 on Ubuntu Linux
    The
    =link_to 'QUnit test suite', qunit_path, :title => 'QUnit'
    currently passes in all tested browsers.
  %h2#faq_4
    %a{:href => '#faq_4'}
      Q. What are SQL wild cards?
  #pane_4
    A. The Structured Query Language used by Dubsar&apos;s
    PostgreSQL database accepts the following wildcards in
    searches:
    %ul
      %li % matches anything, including nothing at all
      %li _ matches any single character
    For example:
    %ul
      %li
        ="%count% matches all words containing"
        %em count
      %li
        c_t matches
        %em cat, cot
        and
        %em cut
  %h2#faq_5
    %a{:href => '#faq_5'}
      Q. What do those WordNet&reg; terms mean?
  #pane_5
    A. Some of them are listed here in Dubsar.  The data model used in
    Dubsar's PostgreSQL database uses them for its table names.
    %h3 Word
    A dictionary entry with a unique name and part of speech.

    %h3
      =link_to 'Synset', url_for(:action => :show, :term => 'synset'), :title => 'Synset'
    A list of synonymous words in a particular sense.  Each word can
    belong to multiple synsets.  A synset is essentially a meaning that
    one or more words share.  It includes a gloss and optionally one or
    more sample sentences.

    %h3 Sense
    The intersection (or join model, in database terms) of words and
    synsets.  Each occurrence of one word in one synset is a sense of
    that word.  A sense is a specific meaning of a single word.

    %h3 Pointer
    A lexical or semantic relationship between senses or synsets.  A
    lexical pointer points from one sense to another (one specific
    meaning of one word to a specific meaning of another word).  A
    semantic pointer points from one synset to another and hence
    relates two meanings.  There are many specific pointer types.
  %h2#faq_6
    %a{:href => '#faq_6'}
      Q. What's all that stuff in the tooltips?
  #pane_6
    A. The tooltips display a number of things:
    %dl
      %dt lexical file name
      %dd
        broad categories associated with each word sense

      %dt frequency count
      %dd
        number of times this word sense occurs in a reference text

      %dt verb frames
      %dd
        generic sentence frames applicable to this verb sense

      %dt sample sentences
      %dd
        sample sentences for the synset

    Then there are lexical and semantic pointers from one word sense to
    another sense (for lexical pointers) or synset (for semantic ones).
    %hr/

    %table
      %thead
        %tr
          %th
            one way of saying it
          %th
            another way of saying it
      %tbody
        - Pointer.help_list.each do |ptype, help_text|
          %tr
            %td
              &= ptype
            %td
              &= help_text
  %h2#faq_7
    %a{:href => '#faq_7'}
      Q. Is there any other documentation available for Dubsar?
  #pane_7
    A. See the
    %a{:href => 'http://github.com/jdee/dubsar/wiki/', :title => 'Dubsar wiki'} Dubsar wiki
    on GitHub.
  %h2#faq_8
    %a{:href => '#faq_8'}
      Q. How many entries does Dubsar have?
  #pane_8
    A. Here are current row counts, by table.  This list is live,
    generated from the database tables whenever you load this page.
    As Dubsar's data content evolves, this list of tables and their
    specific row counts will change.  Don't be surprised to see them
    go down rather than up.  There are still duplicates in some of the
    tables, and it takes time to weed them out.
    %table
      %tbody
        - %w{synset word sense inflection pointer}.each do |model|
          %tr
            %td
              =model_count(model)
            %td
              =model.pluralize
  %h2#faq_9
    %a{:href => '#faq_9'}
      Q. How long does it take to build the Dubsar database?
  #pane_9
    A. Currently it takes about two hours.  There are two identical
    databases in the production environment so that Dubsar can stay
    running while the database is being reseeded, and they have to be
    seeded sequentially.
