- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Dubsar FAQ
- content_for :description do
  %meta{:name => 'Description', :content => 'Frequently Asked Questions about the Dubsar Dictionary Project.'}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, PostgreSQL, QUnit, open-source, GPL, GitHub, English'}
  %link{:rel => 'canonical', :href => 'http://dubsar-dictionary.com/faq'}
  !=thumbnail_link_tags

#accordion
  %h2#faq_1
    %a{:href => '#faq_1'}
      Q. Where does the database come from?
  #pane_0
    A. This is the
    %a{:href => 'http://wordnet.princeton.edu'} WordNet&reg;
    3.0 data set from Princeton University,
    available for free under the
    %a{:href => 'http://wordnet.princeton.edu/wordnet/license', :title => 'WordNet 3.0 License'}
      WordNet 3.0 License.
  %h2#faq_2
    %a{:href => '#faq_2'}
      Q. Which words are in the dictionary?
  #pane_1
    A. The
    %a{:href => 'http://wordnet.princeton.edu'} WordNet&reg;
    data set is aimed at automated text processing and
    includes only the most numerous parts of speech: adjectives,
    adverbs, nouns and verbs.  It does not include conjunctions,
    interjections, prepositions or pronouns.  These words are far fewer
    in number and are less directly related to the meaning of any text.
    So you won't find
    %em from
    in Dubsar, but you will find
    %em
      %a{:href => url_for(:action => :show, :term => 'sedulous'), :title => 'sedulous'}
        sedulous.
  %h2#faq_3
    %a{:href => '#faq_3'}
      Q. Which browsers work well with Dubsar?
  #pane_2
    A. Dubsar requires a JavaScript-enabled browser, but thanks to
    jQuery, nearly any browser that supports JavaScript will display
    Dubsar well, particularly:
    %ul
      %li
        Firefox 3 on all tested platforms (Ubuntu Linux, Mac OS X,
        Windows Vista)
      %li Google Chrome 6&ndash;12 on all platforms
      %li Safari 5 on OS X and Vista
      %li OmniWeb 5 on OS X
      %li Internet Explorer 8 &amp; 9 on Vista

    The
    =link_to 'QUnit test suite', qunit_path, :title => 'QUnit'
    currently passes in all these browsers.
  %h2#faq_4
    %a{:href => '#faq_4'}
      Q. What are SQL wild cards?
  #pane_3
    A. The Structured Query Language used by Dubsar&apos;s
    PostgreSQL database accepts the following wildcards in
    searches:
    %ul
      %li % matches anything, including nothing at all
      %li _ matches any single character
    For example:
    %ul
      %li
        ="%count% matches all words containing"
        %em count
      %li
        c_t matches
        %em cat, cot
        and
        %em cut
  %h2#faq_5
    %a{:href => '#faq_5'}
      Q. What do those WordNet&reg; terms mean?
  #pane_4
    A. Some of them are listed here in Dubsar.  The data model used in
    Dubsar's PostgreSQL database uses them for its table names.
    %h3 Word
    A dictionary entry with a unique name and part of speech.

    %h3
      =link_to 'Synset', url_for(:action => :show, :term => 'synset'), :title => 'Synset'
    A list of synonymous words in a particular sense.  Each word can
    belong to multiple synsets.  A synset is essentially a meaning that
    one or more words share.  It includes a gloss and optionally one or
    more sample sentences.

    %h3 Sense
    The intersection (or join table, in database terms) of words and
    synsets.  Each occurrence of one word in one synset is a sense of
    that word.  A sense is a specific meaning of a single word.

    %h3 Pointer
    A lexical or semantic relationship between senses or synsets.  A
    lexical pointer points from one sense to another (one specific
    meaning of one word to a specific meaning of another word).  A
    semantic pointer points from one synset to another and hence
    relates two meanings.  There are many specific pointer types.
  %h2#faq_6
    %a{:href => '#faq_6'}
      Q. What's all that stuff in the tooltips?
  #pane_5
    A. The tooltips display a number of things:
    %dl
      %dt lexical file name
      %dd
        broad categories associated with each word sense

      %dt adjective marker
      %dd
        for some adjective senses, a limitation on the syntactic
        position of the adjective when used in this sense (see below)

      %dt frequency count
      %dd
        number of times this word sense occurs in a reference text

      %dt verb frames
      %dd
        generic sentence frames applicable to this verb sense

      %dt sample sentences
      %dd
        sample sentences for the synset

    %h4 Adjective markers
    Some adjective senses may only be used in certain syntactic
    positions:
    %ul
      %li
        %strong (a) attributive
        The
        %em left
        side of the road.
      %li
        %strong (ip) immediately postnominal
        I live in the city
        %em proper.
      %li
        %strong (p) predicate
        It is
        %em well
        he did not go.

    Then there are lexical and semantic pointers from one word sense to
    another sense (for lexical pointers) or synset (for semantic ones).
    %hr/

    %table
      %thead
        %tr
          %th
            one way of saying it
          %th
            another way of saying it
      %tbody
        - Pointer.help_list.each do |ptype, help_text|
          %tr
            %td
              &= ptype
            %td
              &= help_text
  %h2#faq_7
    %a{:href => '#faq_7'}
      Q. Is there any other documentation available for Dubsar?
  #pane_6
    A. See the
    %a{:href => 'https://github.com/jdee/dubsar/wiki', :title => 'Dubsar wiki'} Dubsar wiki
    on GitHub.
  %h2#faq_8
    %a{:href => '#faq_8'}
      Q. How many entries does Dubsar have?
  #pane_7
    A. Here are current row counts, by table.  This list is live,
    generated from the database tables whenever you load this page.
    As Dubsar&apos;s data content evolves, this list of tables and their
    specific row counts will change.
    %table
      %tbody
        - %w{synset word sense inflection pointer}.each do |model|
          %tr
            %td
              =model_count(model)
            %td
              =model.pluralize
  %h2#faq_9
    %a{:href => '#faq_9'}
      Q. How long does it take to build the Dubsar database?
  #pane_8
    A. Currently it takes about two hours.  There are two identical
    databases in the production environment so that Dubsar can stay
    running while the database is being reseeded, and they have to be
    seeded sequentially.
  %h2#faq_10
    %a{:href => '#faq_10'}
      Q. How are the autocompleter results determined?
  #pane_9
    A. WordNet&reg; assigns frequency counts to some word senses based
    on the number of times that sense of that word occurs in &quot;various
    semantic concordance texts.&quot;  By far most of the word senses in
    WordNet&reg; are untagged.  Dubsar treats these as having a
    frequency count of 0 and assigns a frequency count to each word
    which is the sum of the frequency counts associated with each of
    that word&apos;s senses.

    The autocompleter displays the top ten words beginning with the
    current search term, ordered by frequency count.  However, it
    collapses multiple parts of speech.  So if you type in
    %em loo,
    Dubsar will only display nine results, since
    %em look
    occurs twice in the top ten.
  %h2#faq_11
    %a{:href => '#faq_11'}
      Q. How does the
      %em match case
      button work?
  #pane_10
    %p
      A. It&apos;s a toggle button, like a check box.  Both the
      %em search
      button and the autocompleter honor it.  That is, if
      %em match case
      is selected, the autocompleter and
      %em search
      button will only return case-sensitive matches; otherwise, they
      return case-insensitive matches.  The button always defaults to
      %em off
      when the index view is loaded; when viewing search results, the
      %em match case
      button will be selected if the results are for a case-sensitive
      search. That is, if the button was selected when the search was
      submitted, it will be selected when the search returns.
    %p
      It can be a little hard to tell at times whether it is selected.
      Here&apos;s how it looks in the two themes:

    %table
      %tbody
        %tr
          %td
            &nbsp;
          %td
            light
          %td
            dark
        %tr
          %td off
          %td
            =image_tag 'light-off.png', :alt => 'light-off.png', :width => '103', :height => '40'
          %td
            =image_tag 'dark-off.png', :alt => 'dark-off.png', :width => '103', :height => '40'
        %tr
          %td on
          %td
            =image_tag 'light-on.png', :alt => 'light-on.png', :width => '103', :height => '40'
          %td
            =image_tag 'dark-on.png', :alt => 'dark-on.png', :width => '103', :height => '40'
  %h2#faq_12
    %a{:href => '#faq_12'}
      Q. What is the QUnit test suite?
  #pane_11
    A. Dubsar makes heavy use of the JavaScript programming language
    in the browser.  The
    =link_to 'QUnit test suite', qunit_path, :title => 'QUnit'
    puts elements of Dubsar through a sequence of automated tests and
    reports the results.  The tests run in the browser when you load
    the page.  The test suite currently passes in all tested browsers.
  %h2#faq_13
    %a{:href => '#faq_13'}
      Q. How do I link to Dubsar?
  #pane_12
    A. Help tell other people about Dubsar:
    =link_to 'Link to Dubsar', link_path, :title => 'Link to Dubsar'
    from your website.
  %h2#faq_14
    %a{:href => '#faq_14'}
      Q. Is Dubsar on Facebook?
  #pane_13
    A. Yes.  Visit
    =link_to 'Dubsar on Facebook', 'http://www.facebook.com/pages/Dubsar/155561501154946', :title => 'Dubsar on Facebook'
  %h2#faq_15
    %a{:href => '#faq_15'}
      Q. Does Dubsar use Cookies?
  #pane_14
    %p
      A. Yes.  Dubsar uses four cookies, one of which is persistent:
    %table
      %tbody
        %tr
          %td
            %em name
          %td
            %em type
          %td
            %em purpose
        %tr
          %td dubsar_theme
          %td persistent
          %td store the user&apos;s choice of light or dark display theme
        %tr
          %td dubsar_starting_pane
          %td transient
          %td store the open accordion pane
        %tr
          %td dubsar_starting_offset
          %td transient
          %td store the scroll offset of the result accordion
        %tr
          %td _dubsar_session
          %td transient
          %td maintain session state (used by Ruby on Rails&reg;)
    %p
      The only persistent cookie Dubsar uses is
      %em dubsar_theme,
      which simply registers your choice of display theme. The first
      time the page is visited, this cookie is set to
      &quot;light.&quot; It has a lifetime of thirty days.
    %p
      The other three cookies are transient, limited to a single
      browser session.
    %p
      The
      %em dubsar_starting_pane
      and
      %em dubsar_starting_offset
      cookies are used to redraw the screen correctly on refresh, in
      particular when returning an error (when no matching results are
      found).
    %p
      Dubsar has no knowledge of your identity when you visit the site.
      There is no authentication, no login, no user ID.  The
      %em _dubsar_session
      cookie identifies you to the server in an anonymous way, which is
      useful, for example, when returning error messages.  This is a
      standard technique, and it&apos;s built into Ruby on Rails&reg;.
    %p
      Dubsar conducted a brief experiment with links to social
      networks, but eventually abandoned them because of a number of
      problems involving cookies.  Now when you browse Dubsar, all
      content loaded into your browser is hosted by Dubsar until you
      leave the site.  All static content is hosted on the separate
      sub-domain s.dubsar-dictionary.com, which will not serve web
      pages and assigns no cookies, so if you
      =link_to 'Link to Dubsar', link_path, :title => 'Link to Dubsar'
      using the supplied HTML snippet, visitors to your site will not
      acquire or transmit any additional cookies.
  %h2#faq_16
    %a{:href => '#faq_16'}
      Q. What are subscribed links?
  #pane_15
    A.  Dubsar provies a limited selection of more than 37,000
    relatively obscure words, all at least nine letters, that you can
    add to your Google web searches.
    =link_to 'Click here', 'http://www.google.com/coop/profile?user=012127914215357268281', :title => 'Dubsar subscribed links on Google'
    for more information.
  %h2#faq_17
    %a{:href => '#faq_17'}
      Q. What is OpenSearch?
  #pane_16
    A. The OpenSearch protocol allows some supported browsers (Internet
    Explorer, Firefox and Google Chome) to add Dubsar to the
    browser&apos;s list of search engines so that you can search
    Dubsar, complete with live suggestions, from your browser&apos;s
    search box.
  %h2#faq_18
    %a{:href => '#faq_18'}
      Q. Who are the Austin Guardian Fairies?
  #pane_17
    A. The
    =link_to 'Austin Guardian Fairies', fairies_url, :title => 'Austin Guardian Fairies'
    are a volunteer community watch
    group dedicated to keeping LGBT Austin safe.
  %h2#faq_19
    %a{:href => '#faq_19'}
      Q. Is there a mobile edition of Dubsar?
  #pane_18
    A. Yes. It's available at
    = link_to "#{m_url}", m_path, :class => 'undecorated'
