#accordion
  %h2
    %a{:href => '#'}
      Dubsar
      %em (noun)
  #content_div_1
    %ol
      %li
        the Sumerian word for
        %em scribe.
      %li
        a Rails dictionary application using content from the Princeton University
        =link_to 'WordNet', 'http://wordnet.princeton.edu', :title => 'WordNet'
        project.
