#accordion
  %h2
    %a{:href => '#'}
      Dubsar
      %em (n.)
  #content_div_1
    %ol
      %li
        the Sumerian word for
        %em
          scribe
        &mdash; cuneiform
        =link_to image_tag('http://psd.museum.upenn.edu/epsd/psl/img/thumb/Obel.png', id: 'cuneiform-signs', alt: @dubsar_alt), 'http://psd.museum.upenn.edu/epsd/epsd/e1050.html', title: @dubsar_caption
      %li
        a Rails dictionary application using content from the Princeton
        University
        %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'} WordNet&reg;
        project
