#accordion
  %h2#cap-dubsar_n
    %a{:href => '#cap-dubsar_n'}
      Dubsar
      %em (n.)
  #pane_0
    %ol
      %li
        the Sumerian word for
        %em
          scribe
        &mdash; cuneiform
        =link_to image_tag('http://psd.museum.upenn.edu/epsd/psl/img/thumb/Obel.png', :id => 'cuneiform-signs', :alt => @dubsar_alt), 'http://psd.museum.upenn.edu/epsd/epsd/e1050.html', :title => @dubsar_caption
      %li
        a dictionary application using content from the Princeton
        University
        %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'} WordNet&reg;
        project
  %h2#cap-news_n
    %a{:href => '#cap-news_n'}
      News
      %em (n.)
      #news-icon-div
        %span#news-icon.ui-icon.ui-icon-star
      %span#news-update
        %em
          ="(last updated #{@last_news_update})"
  #pane_1
    =render :partial => 'news'
  %h2#cap-tour_n
    %a{:href => '#cap-tour_n'}
      Tour
      %em (n.)
  #pane_2
    Take a quick
    =link_to 'tour of Dubsar', tour_path
