- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#accordion
  %h2#cap-dubsar_n
    %a{:href => '#cap-dubsar_n'}
      Dubsar
      %em (n.)
  #pane_0
    %ol
      %li
        the Sumerian word for
        %em scribe
        &mdash; cuneiform
        =link_to image_tag('http://psd.museum.upenn.edu/epsd/psl/img/thumb/Obel.png', :id => 'cuneiform-signs', :alt => @dubsar_alt), 'http://psd.museum.upenn.edu/epsd/epsd/e1050.html', :title => @dubsar_caption
      %li
        a dictionary application using content from the Princeton
        University
        %a{:href => 'http://wordnet.princeton.edu/', :title => 'WordNet(R)'} WordNet&reg;
        project
  =render :partial => 'news'
  %h2#cap-tour_n
    %a{:href => '#cap-tour_n'}
      Tour
      %em (n.)
  #pane_2
    %ol
      %li
        Take a quick
        =link_to 'tour of Dubsar', tour_path, :title => 'take a tour'
