#accordion
  %h2
    %a{:href => '#'}
      Dubsar
      %em (noun)
  #content_div_1
    %ol
      %li
        - %w{the Sumerian word for}.each do |w|
          =render :partial => 'synspan', :locals => { :w => w }
        %em scribe.
      %li
        - %w{a Rails dictionary application using content from the Princeton University}.each do |w|
          =render :partial => 'synspan', :locals => { :w => w }
        = link_to 'WordNet', 'http://wordnet.princeton.edu', :title => 'WordNet'
        project.
