- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Link to Dubsar

- content_for :description do
  %meta{:name => 'Description', :content => "Dubsar loves attention. Find Dubsar on Facebook. Link to Dubsar from your site. Click here for more information."}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, SQLite, QUnit, open-source, GPL, GitHub, English'}
  %link{:rel => 'canonical', :href => 'https://dubsar-dictionary.com/link'}
  != thumbnail_link_tags

#about
  %h3 Link to Dubsar from your website

  %p
    Just copy this HTML snippet to add a link like the one below:

  %textarea#link-snippet{:name => "link-snippet", :rows => "5", :cols => "80"}
    =html_for_link

  %p
    !=html_for_link

  %hr/
  %h4 Dubsar elsewhere on the Web
  %ul
    %li
      =link_to 'Dubsar on Facebook', 'http://www.facebook.com/pages/Dubsar/155561501154946', :title => 'Dubsar on Facebook'
    %li
      =link_to 'Dubsar on Twitter', 'http://twitter.com/#!/dubsar', :title => 'Dubsar on Twitter'
    %li
      =link_to 'Dubsar on Google+', 'https://plus.google.com/111210736976423589433', :title => 'Dubsar on Google+'
    %li
      =link_to 'Dubsar for iPhone, iPod Touch, and iPad on the iTunes App Store', 'http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=453868483&mt=8', :title => 'Dubsar in the App Store'
    %li
      =link_to 'Dubsar on Google Play', 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar'
    %li
      =link_to 'Dubsar in the Amazon App Store', 'http://www.amazon.com/Jimmy-Dee-Dubsar/dp/B006QCL4PG', :title => 'Dubsar in the Amazon App Store'
