- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Link to Dubsar

- content_for :description do
  %meta{:name => 'Description', :content => "Dubsar loves attention. Find Dubsar on Facebook. Link to Dubsar from your site. Click here for more information."}
  %link{:rel => 'canonical', :href => 'http://dubsar-dictionary.com/link'}

#about
  %h3 Link to Dubsar from your website

  %p
    Just copy this HTML snippet to add a link like the one below:

  %textarea#link-snippet{:name => "link-snippet", :rows => "5", :cols => "80"}
    =html_for_link

  %p
    !=html_for_link

  %hr/
  %h4 Dubsar elsewhere on the Web
  %ul
    %li
      =link_to 'Dubsar on Facebook', 'http://www.facebook.com/pages/Dubsar/155561501154946', :title => 'Dubsar on Facebook'
    %li
      =link_to 'Dubsar subscribed links on Google', 'http://www.google.com/coop/profile?user=012127914215357268281', :title => 'subscribed links'
