- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%div{'data-role' => 'page', 'data-title' => "Dubsar Mobile - License", 'data-theme' => 'b'}
  %div{'data-role' => 'header', 'data-position' => 'inline'}
    = render :partial => 'shared/mobile_header'
  %div{'data-role' => 'content'}
    %p
      Dubsar is free, open-source software distributed under version 2 of
      the
      =link_to 'GNU General Public License.', 'http://www.gnu.org/licenses/gpl-2.0.html', :class => 'undecorated', :rel => 'external', :style => 'color: #888;'
    %hr/
    %h3
      Dubsar Dictionary Project
    %h4
      Copyright &copy; 2010-11 Jimmy Dee

    %p
      This program is free software; you can redistribute it and/or
      modify it under the terms of the GNU General Public License
      as published by the Free Software Foundation; either version 2
      of the License, or (at your option) any later version.

    %p
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.

    %p
      You should have received a copy of the GNU General Public License
      along with this program; if not, write to the Free Software
      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
    %hr/
    %a.undecorated{:href => 'http://wordnet.princeton.edu', :rel => 'external', :style => 'color: #888;'} WordNet&reg;
    is available under the
    =link_to 'WordNet 3.0 License.', 'http://wordnet.princeton.edu/wordnet/license', :class => 'undecorated', :rel => 'external', :style => 'color: #888;'
  %div.ui-bar{'data-role' => 'footer'}
    = render :partial => 'shared/mobile_footer'
