- if @words.count > 0
  #accordion
    = render @words
- else
  #term-not-found.ui-corner-all.ui-state-error
    %span.ui-icon.ui-icon-alert
    no results found for &quot;
    =h @term
    &quot;

= will_paginate @words
