#tour.ui-widget
  %table
    %tbody
      %caption
        %h3 Using Dubsar, you can
      %tr
        %td
          %a#tour-browse{:href => '/images/browse.png', :title => 'browse'}
            =image_tag 'browse-thumbnail.png', :alt => 'browse'
            %h3 browse by letter
        %td
          %a#tour-search{:href => '/images/search.png', :title => 'search'}
            =image_tag 'search-thumbnail.png', :alt => 'search'
            %h3 search for a word
        %td
          %a#tour-autocomplete{:href => '/images/autocomplete.png', :title => 'autocomplete'}
            =image_tag 'autocomplete-thumbnail.png', :alt => 'autocomplete'
            %h3 get suggestions from an autocompleter
      %tr
        %td
          %a#tour-pages{:href => '/images/pages.png', :title => 'pages'}
            =image_tag 'pages-thumbnail.png', :alt => 'pages'
            %h3 get a paginated list of results
        %td
          %a#tour-view{:href => '/images/view.png', :title => 'view'}
            =image_tag 'view-thumbnail.png', :alt => 'view'
            %h3 view search results
        %td
          %a#tour-dark{:href => '/images/dark.png', :title => 'dark'}
            =image_tag 'dark-thumbnail.png', :alt => 'dark'
            %h3 change the display theme
