- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Dubsar Tour
- content_for :description do
  %meta{:name => 'Description', :content => 'Take a tour of the Dubsar Project.'}

#tour.ui-widget
  %table
    %tbody
      %caption
        %h3 Using Dubsar, you can
      %tr
        %td
          %a#tour-browse{:href => '/images/browse.png', :title => 'browse'}
            %h3 browse by letter
            =image_tag 'browse-thumbnail.png', :alt => 'browse'
        %td
          %a#tour-autocomplete{:href => '/images/autocomplete.png', :title => 'autocomplete'}
            %h3 get top suggestions from an autocompleter
            =image_tag 'autocomplete-thumbnail.png', :alt => 'autocomplete'
      %tr
        %td
          %a#tour-view{:href => '/images/view.png', :title => 'view'}
            %h3 view search results
            =image_tag 'view-thumbnail.png', :alt => 'view'
        %td
          %a#tour-dark{:href => '/images/tooltip.png', :title => 'tooltip'}
            %h3 see related information in a custom tooltip
            =image_tag 'tooltip-thumbnail.png', :alt => 'tooltip'
