.style-dark, .style-dark a:link {
  color: #eeeeee;
}

.style-dark a:visited {
  color: #555555;
}

.style-dark a:hover,active {
  color: #ffffff;
}

.style-dark a:visited > img {
  border-color: #555555;
}

.style-dark a > img:hover,active {
  border-color: #ffffff;
}

.style-dark #header-bar {
  background-color: #f58400;
}

.style-dark a:hover,active,
.style-dark *.ui-state-active > span.ui-button-text {
  color: #ffffff;
}

.style-dark a.undecorated {
  color: #f58400;
}

.style-dark .pagination * {
  color: #f58400!important;
}
