*, a:link {
  color: #eeeeee;
}

a:visited {
  color: #555555;
}

a:hover,active {
  color: #ffffff;
}

a:visited > img {
  border-color: #555555;
}

a > img:hover,active {
  border-color: #ffffff;
}

#header-bar {
  background-color: #f58400;
}

a:hover,active, *.ui-state-active > span.ui-button-text {
  color: #ffffff;
}

a.undecorated, #word-input {
  color: #f58400;
}

.pagination * {
  color: #f58400!important;
}
