- unless pointers.blank?
  %strong{:title => h(description)}
    &= title
  - pointers.group_by(&:ptype).each do |ptype, ptrs|
    .pointer-type{:title => Pointer.help_text(ptype)}
      %em
        &= ptype
    .pointer-type
      - ptrs.each do |ptr|
        = target_link ptr.target
