- unless pointers.blank?
  %strong{:title => h(description)}
    &= title
  %table
    %tbody
      - pointers.group_by(&:ptype).each do |ptype, ptrs|
        %tr
          %td.pointer-type{:title => Pointer.help_text(ptype)}
            %em
              &= ptype
          %td
            - ptrs.each do |ptr|
              = target_link ptr.target
