%p.summary
  I build my own apps, like Dubsar. I am working on a game, a first-person RPG for
  iOS, set in ancient Greece, called Laertes, using OpenGL ES 2.0. You can see some
  screenshots
  = link_to 'here.', 'http://redmenace.imgur.com/Laertes', target: '_blank' #, :class => 'undecorated'
  I am also working on a productivity app and hope to launch both in 2014. Meanwhile,
  I also have to pay my bills. I am available for remote contract work, and I have
  many skills. I spent a lot of time in academic physics and working on Wall St.,
  doing high-performance server work.
%p.summary
  I have been writing C++ for twenty years and have reached a very high level of
  competence. I am proficient with a number of other languages, like C, Java, Ruby,
  JavaScript and Objective-C. I have written tons of socket code in C, and I am very
  comfortable doing server development. I also do a lot of UI development in
  JavaScript, Ruby, Objective-C and Java, which I enjoy. In addition, I have in recent
  years developed an interest in automation, particularly testing automation, and
  security (SSL, encryption, Tor and anonymity, and so on). At times I have been a
  writer, and I am known for scrupulously documenting
  my software work. I have an addiction to human languages, which have received a lot of
  my attention over the years.
%p.summary
  I can do quite a few things. Please get in touch if you are interested in engaging me.
