%p.summary
  I am a long-time software developer with a track record of building quality,
  high-performance products. I spent some years in academic physics and more than a
  decade on Wall St. and have
  been building mobile apps for several years now. For the last two years, I have
  been working on a few projects of my own, including 
  = link_to 'Dubsar,', "https://dubsar.info", target: '_blank'
  my suite of dictionary apps, and a newly-launched audio player
  called 
  = link_to "cpyn.", "https://cpyn.mobi", target: '_blank'
%p.summary
  I have been writing C++ for more than twenty years and have reached a very high level of
  competence. I am proficient with a number of other languages, like C, Java, Ruby,
  JavaScript, Swift, GLSL and Objective-C. I love building big things from end to end.
  In addition, I have in recent
  years developed an interest in automation, particularly testing automation, and
  security (SSL, encryption, Tor and anonymity, and so on). At times I have been a
  writer, and I am known for scrupulously documenting
  my software work. I have an addiction to human languages, which have received a lot of
  my attention over the years.
%p.summary
  I have an assortment of open-source projects on
  = link_to 'GitHub.', 'https://github.com/jdee'
%p.summary
  I can do quite a few things. Please get in touch if you are interested in engaging me.
