- content_for :title do
  about cpyn

- content_for :description do
  %meta{name:'Description', content:'About the cpyn audio player.'}
  %link{rel:'canonical', href:'https://cpyn.mobi/about-cpyn'}

%h1{style: 'text-align: center;'}
  About cpyn

%p
  Cpyn is a personal audio player app for iOS. It is built on OpenGL ES 3.0 and
  presents a three-dimensional turntable that rotates while you play music. While
  the music is playing, you can rotate the turntable with a gesture and scratch
  records. The app provides an array of audio features, from a 3-D equalizer to
  autolevel, cross fading and reversible playback.
%p
  Currently, cpyn only plays tracks from the iPod library on a device. Future
  releases will also offer support for streaming sources such as Rdio and Spotify.
%p
  Future releases will also offer improved audio quality and an expanded set of
  audio features for DJing and other specialized purposes.
%p
  The entirety of this application along with all its contents and materials are
  the work of a single individual. About 70% of your purchase from the App Store
  goes directly to the one person whose efforts brought you the app, not to shadowy
  financial backers or an army of bureaucrats.
%p
  The individual is beside the point, but in case you are concerned about his
  qualifications to build virtual toy record players,
  =link_to 'his CV', 'https://linkedin.com/in/jgvd3'
  is publicly available. He is sometimes available for other projects, including
  children&apos;s parties.

%h6{style: 'text-align: center;'}
  &copy; 2014 Jimmy Dee. All rights reserved.
