- content_for :title do
  cpyn and privacy

- content_for :description do
  %meta{name:'Description', content:'Privacy statement for the cpyn audio player.'}
  %link{rel:'canonical', href:'https://cpyn.mobi/cpyn-privacy'}

%h1{style: 'text-align: center;'}
  cpyn and privacy

%p{style: 'text-align: center;'}
  Cpyn does not know who you are. It never asks for an e-mail address, a name or any other
  personally identifiable information. It never asks for much beyond choosing music to
  play and what your audio preferences are. That information is stored in the user defaults
  on the device, in order to remember your preferences each time you launch the app. If
  your device were compromised by a hacker, the worst concern you&apos;d have would be that
  they would know what you were cpynning. The app keeps no temporary files and other than
  your preferences never stores anything on the device or anywhere else.
%p{style: 'text-align: center;'}
  The only time cpyn ever uses the Internet is if you post to Twitter from
  within the app, or if you tap the info button and either view the help tab or tap any of
  the buttons on the about tab: support, email or view in App Store. The buttons all take
  you to Safari, Mail or the App Store app.
%p{style: 'text-align: center;'}
  Cpyn does not spy on its users via analytics. It does not report any information
  to anyone, least of all its author. It logs absolutely nothing to the device console.
