- content_for :title do
  cpyn support

- content_for :description do
  %meta{name:'Description', content:'Trouble cpynning? Contact cpyn support.'}
  %link{rel:'canonical', href:'https://cpyn.mobi/cpyn-support'}

%h1{style: 'text-align: center;'}
  Get support for cpyn:

%p{style: 'text-align: center;'}
  Trouble cpynning? Contact cpyn support at
  =link_to 'cpyn-support@dubsar-dictionary.com.', 'mailto:cpyn-support@dubsar-dictionary.com'
