- content_for :title do
  cpyn

- content_for :description do
  %meta{name: 'Description', content: 'This is the website for cpyn, a new audio player for iOS coming to the App Store autumn 2014.'}
  %meta{name: 'Keywords', content: 'music, music player, iOS, App Store, turntable, OpenGL, OpenGL ES, audio, audio player, cpyn, scratch'}
  %link{rel: 'canonical', href: 'https://cpyn.mobi'}

%div{style: 'text-align: center; font-size: x-large;'}
  %p
    cpyn, v. /spɪn/ past tense cpÿn /spʌn/
    %br/
    1. play music from your iPod library on a 3-D turntable
    %br/
    2. scratch your records while they play

  %p
    cpyn, n., indecl.
    %br/
    1. an audio player app for iOS that lets you cpyn

%div
  %div{style: 'text-align: center;'}
    %h2{style: 'text-align: center;'}
      coming to the App Store autumn 2014

    %div{style: 'text-align: center;'}
      -# != twitter_button "cpyn_mobi", "https://cpyn.mobi", "Check out this new audio player app for iOS called cpyn."
      -# &nbsp;
      != twitter_follow_button

    %br/
    =image_tag 'cpyn_numinous_eye.png', size: '280x497', alt: 'cpyn with Numinous Eye', display: 'inline-block'
    =image_tag 'cpyn_equalizer.png', size: '280x497', alt: 'cpyn graphic equalizer', display: 'inline-block'
