- content_for :title do
  cpyn

- content_for :description do
  %meta{name: 'Description', content: 'cpyn audio player for iOS'}
  %link{rel: 'canonical', href: 'http://cpyn.mobi'}

%h1{style: 'text-align: center;'}
  cpyn audio player for iOS

%h2{sytle: 'text-align: center;'}
  coming to the App Store autumn 2014

=image_tag 'cpyn_numinous_eye.png', size: '280x497', alt: 'cpyn with Numinous Eye', display: 'inline-block'
=image_tag 'cpyn_equalizer.png', size: '280x497', alt: 'cpyn graphice equalizer', display: 'inline-block'

%h6{style: 'text-align: center'}
  &copy; 2014 Jimmy Dee. All rights reserved.
