*, a:link {
  color: #1c94c4;
}

a:visited {
  color: #333333;
}

a:hover,active, img:hover,active {
  color: #fbc90b;
}

a:visited > img {
  border-color: #333333;
}

a > img:hover,active {
  border-color: #fbc90b;
}

#header-bar {
  background-color: #e0e0ff;
}

*.ui-state-active > span.ui-button-text {
  color: #eb8f00;
}

a.undecorated {
  color: inherit;
}
