- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

%h3 Austin Guardian Fairies
=image_tag 'fairies-80x80.png', :id => 'fairies-image'
%h4 Austin, Texas
%p
  On the night of Saturday, December 25, 2010, two men were badly
  beaten on the corner of 4th St. and Lavaca.

%ul
  %li
    =link_to 'KXAN', 'http://ln-s.net/8Iah', :target => '_blank', :title => 'KXAN'
  %li
    =link_to 'Statesman', 'http://t.co/zDx4R6q', :target => '_blank', :title => 'Statesman'

%p
  It&apos;s been surprising how little attention this event has gotten
  in the media, given the similarity to an event in the spring that
  sparked a vocal protest.

%p
  This is not entirely a gay or straight issue. Straight people suffer
  similar assaults in Austin and elsewhere. But homosexual people are
  disproportionately targeted because of their failure to conform to
  prevailing gender roles. And when someone is attacked simply because
  of who they are, it is a hate crime.

%p
  For decades, most American college campuses have had rape-prevention
  shuttles to escort people who are not comfortable walking home alone.
  The victims in this attack were two grown men, and one report says
  there were twenty to thirty witnesses. So obviously merely buddying
  up does not solve the problem. But there is nevertheless safety in
  numbers.

%p
  We are recruiting individuals to volunteer a few hours a month
  helping people get home.  All are welcome, but we are particularly
  looking for big people, big dogs and bright, powerful flashlights.
  Over time, as the organization grows, we may be able to offer
  assistance at other Austin LGBT bars or even straight venues. For
  now, we see a particular need to help keep 4th St. safe. Submit
  contact information in the form at the right if you&apos;re
  interested in getting involved in one way or another. In addition to
  patrol volunteers, we need some organizational assistance.

%p
  Dubsar is temporarily hosting the Austin Guardian Fairies online.

%p
  Contact us at
  =link_to 'fairies@dubsar-dictionary.com.', 'mailto:fairies@dubsar-dictionary.com', :title => 'Contact us', :class => 'undecorated'

%p
  Find us on
  =link_to 'Facebook', 'http://www.facebook.com/pages/Austin-Guardian-Fairies/176377635737398', :title => 'Austin Guardian Fairies on Facebook'
