- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

- content_for :title do
  Austin Guardian Fairies

- content_for :description do
  %meta{:name => 'Description', :content => 'The Austin Guardian Fairies are a volunteer community watch group dedicated to keeping LGBT Austin safe.'}
  %meta{:name => 'Keywords', :content => 'Austin, LGBT, gay, lesbian, community watch'}
  %meta{:property => 'og:title', :content => 'Austin Guardian Fairies'}
  %meta{:property => 'og:type', :content => 'non_profit'}
  %meta{:property => 'og:url', :content => 'http://dubsar-dictionary.com/fairies'}
  %meta{:property => 'og:image', :content => "#{image_path 'fairies-big.png'}"}
  %meta{:property => 'og:site_name', :content => 'The Dubsar Project'}
  %meta{:property => 'fb:admins', :content => '1015821519'}
  %meta{:property => 'og:description', :content => 'The Austin Guardian Fairies are a volunteer community watch group dedicated to keeping LGBT Austin safe.'}
  %meta{:property => 'og:email', :content => 'fairies@dubsar-dictionary.com'}
  %link{:rel => 'canonical', :href => 'http://dubsar-dictionary.com/fairies'}
  !=thumbnail_link_tag 'fairies-big.png'

%table#fairies
  %tbody
    %tr
      %td#fairy_text
        =render :partial => 'fairy_text'
      %td#fairy_form
        =form_for @fairy do |f|
          =hidden_field_tag :back, 'yes', :id => 'fairy_back'
          %p
            =f.text_field :name, :id => 'fairy_name', :title => 'name'
          %p
            =f.text_field :email, :id => 'fairy_email', :title => 'e-mail'
          %p
            =f.text_field :phone_number, :id => 'fairy_phone_number', :title => 'phone number'
          %p
            %button#volunteer{:type => 'submit', :title => 'volunteer'} volunteer
        %p
          By clicking
          %em volunteer,
          you consent to be contacted by the Austin Guardian Fairies. This
          is not a secure web form. Your contact information will be sent
          unencrypted to our server.
